<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/error.css">
</head>
<body>
    <div class="container">
        <div class="conternt">
            <h2>{{.Num}}</h2>
            <h4>{{.ErrorName}}</h4>
            <a href="/">Back to home</a>
        </div>
    </div>
</body>
</html>