<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="hero">
        <nav>
            <h2 class="logo">
                groupie <span>tracker</span>
            </h2>
            <ul>
                <li><a href="/artist?min=1950&max=2020&min-2=1950&max-2=1996&locations=">Artists</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>